{% extends 'base.html' %}

{% block title %}
    Самая вкусная еда из ресторана
    {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
     <div class="card" style="width^ 18 rem;">
      <img src="img/cofe22.jpeg" class="card-img-top" alt="...">

     <div class="card-body">
      <h5 class="card-title">Фрапе - холодный кофе</h5>
      <p class="card-text">Двойной эспрессо, лед, молоко или сливки 100 гр. Все смешать в блендере, наполнить бокал.</p>
      <a href="https://m.vk.com/gyrosgrill_ekb?reactions_opened=wall-200971088_850" class="btn btn-primary">Можно попробовать в греческом ресторане</a>
     </div>
     </div>
    </div>

    <div class="col-sm-12 col-lg-4">
     <div class="card" style="width^ 18 rem;">
      <img src="img/grecheskiy-salat-2.jpg" class="card-img-top" alt="...">

     <div class="card-body">
      <h5 class="card-title">Греческий салат с оливковым маслом</h5>
      <p class="card-text">Огурцы, помидоры, сладжкий перец, оливки, красный лук, душистые травы, сыр фета, оливковое масло. Нарезать в глубокую большую тарелку, не смешивать.</p>
      <a href="https://kebabra.ru/#rec656008461" class="btn btn-primary">Можно попробовать в турецком ресторане</a>
     </div>
     </div>
    </div>

    <div class="col-sm-12 col-lg-4">
     <div class="card" style="width^ 18 rem;">
      <img src="img/hleb.jpg" class="card-img-top" alt="...">

     <div class="card-body">
      <h5 class="card-title">Хрустящий хлеб</h5>
      <p class="card-text">Готовить долго и сложно, лучше купить в ближайшей булочной</p>
      <a href="https://m.vk.com/gyrosgrill_ekb?reactions_opened=wall-200971088_850" class="btn btn-primary">Можно попробовать в пятерочке</a>
     </div>
     </div>
    </div>


</div>

</div>



{% endblock %}